!!!
%html
	%head
		%title sina用户有新回复！
		%meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
	%body
		%h1= "#{@user.nickname}的评论收到了书友的回复!"
		%p= "sina UID为#{@user.uid}"
		%p=raw @comment