!!!
%html
	%head
		%title 欢迎参与书魂！
		%meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
	%body
		%h1= "欢迎加入书魂俱乐部,#{@user.nickname}!"
		%p 感谢您对书魂的支持，您的参与就是对我最大的帮助，有问题就请随时告诉我吧！
		%p 这是一封问候信，只发送这一次，祝您在不断学习中每天进步！
		%p= link_to "BookSoul","http://booksoul.heartme.info"