<script type="text/javascript" >
dd_ad_client="P-288414";
open_target="_blank";
ad_num="1";
pic_type="1";
ad_format=50;
</script>
<script type="text/javascript" src="http://union.dangdang.com/union/script/smart_ads.js" ></script>
<script type="text/javascript" >
<!--
dd_ad_output="html";
dd_ad_width=180;
dd_ad_height=272;
dd_ad_client="P-288414";
dd_ad_format=20;
dd_ad_id=0;
dd_product_id=20900177;
dd_img_size=150;
dd_display_style=0;
dd_text_url="";
dd_color_text="FF9900";
dd_color_bg="";
dd_open_target="_blank";
dd_border=0;
dd_color_link="009900";
dd_ad_text="";
//--></script>
<script type="text/javascript" src="http://union.dangdang.com/union/script/dd_ads.js" ></script>
